.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
}

.loginInput{
    margin-bottom: 10px;
    padding: 5px;
}

.loginButton{
    background-color: #00aae4;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}