.parkList {
    flex: 4;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.parkList h1 {
    color: #00aae4;
    text-align: center;
    font-weight: bold;
}

.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 800px;
    height: 300px;
}

.form {
    position: absolute;
    left: 820px;
    width: 300px;
    height: 200px;
}
.contenedor-mapa {
    position: relative;
    width: 900px;
    height: 300px;
    left: 0px;
}

.parkListDelete {
    color: red;
    cursor: pointer;
}

.parkListEdit {
    color: green;
    cursor: pointer;
}

.linkListEdit {
    text-align: center;
}

.botonInsertar {
    float: right;
}

.mapa {
    width: 450px;
    height: 300px;
}
